# Ignore files and folders
##############################
*config*
*pycache*
*.csv
*venv*
*.idea*
*.pickle
*.out
*ipynb_checkpoints
*secrets*
!season_dates.csv
*march_madness*
!*transformed_data_men_21_to_24.csv
!*model_features.csv